<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page reponse</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <header>
    <h1>Bienvenue {{nom}} sur TASK MANAGEMENT. </h1><br>
  </header>
  <main>
      <p>Nous avons enregistré votre mail:{{email}}. Voici un apercu des différents services que proposent notre site.</p>
      <h3>Taches courantes: </h3>
      <ol>
          <li>Acheter des courses</li>
          <li>Faire du sport</li>
          <li>Lire un livre</li>
          <li>Reviser pour un test</li>
          <li>Nettoyer la cuisine</li>

          <form action="{% url 'info_personnel' %}" method="POST">
              {% csrf_token %}
              <button type="submit" name="type_tache" value="personnelles">DECOUVRIR </button>
          </form>
          </li>
      </ol>
  </main>



</body>
</html>