<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contenu de la page des taches personnelles</title>
    <style>
      table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
    </style>
</head>
<body>
  <h1>Taches personnelles</h1>
  <table>
    <thead>
      <tr>
        <th>Nom de taches</th>
        <th> Description</th>
        <th>Ordre de priorite</th>
      </tr>
    </thead>
    <tbody>
       <tr>
         <td></td>
       </tr>
    </tbody>
  </table>


</body>
</html>