<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Gestion de taches</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <header>
    <h1>Bienvenue sur TASK MANAGEMENT</h1>
  </header>
  <main>
      <p>Facilitez votre quotidien avec TASK MANAGEMENT, un espace conçu pour vous aider à organiser vos tâches personnelles, gérer vos responsabilités professionnelles et académiques, et simplifier vos corvées ménagères.</p>
      <p>Avant de commencer, veuillez s'il vous plait enregistrer vos informations dans le formulaire ci-dessous. </p>
      <form action="/informations/" method="POST">
         {% csrf_token %}
          <label for="nom">Nom: </label>
          <input type="text" id="nom" name="nom">
          <label for="email" >Email: </label>
          <input type="email" id="email" name="email">
          <button type="submit">Envoyer</button>
      </form>
  </main>

</body>
